<html>
<head>
  <title>Achievements</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/faq.css" rel="stylesheet">-->
  <link href="/css/WeFit.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="/css/fixed-navigation-bar.css">
</head>
<body>
  <nav class="fixed-nav-bar">
    <div id="menu" class="menu">
      <a class="sitename" href="/">WeFit</a>
      <a class="show" href="#menu">Menu</a><a class="hide" href="#hidemenu">Menu</a>
      <ul class="menu-items">
        <li><a href="profile">Profile</a></li>
        <li><a href="dailies">Dailies</a></li>
        <li><a href="inventory">Inventory</a></li>
        <li><a href="achievements">Achievements</a></li>
        <li><a href="faq">Help</a></li>
    </ul>
    </div>
  </nav>
  <div class="container">
    <h1 align="center">Achievements</h1>


  </div>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="/js/bootstrap.js"></script> 
</body>
</html>