<html>
<head>
  <title>Faq</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/faq.css" rel="stylesheet">-->
  <link href="/css/WeFit.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="/css/fixed-navigation-bar.css">
</head>
<body>
  <nav class="fixed-nav-bar">
    <div id="menu" class="menu">
      <a class="sitename" href="/">WeFit</a>
      <a class="show" href="#menu">Menu</a><a class="hide" href="#hidemenu">Menu</a>
      <ul class="menu-items">
        <li><a href="profile">Profile</a></li>
        <li><a href="dailies">Dailies</a></li>
        <li><a href="inventory">Inventory</a></li>
        <li><a href="achievements">Achievements</a></li>
        <li><a href="faq">Help</a></li>
    </ul>
    </div>
  </nav>
  <div class="container">
    <h1 align="center">FAQ</h1>
    <br>
     
     {{#each faq}}
    <h3 align="center">{{question}}</h3>
    <ul>
      <li align="center"> {{answer}}</li>
    </ul>
    {{/each}}

    <!--<h3 align="center">How many daily challenges can I complete in a day?</h3>
    <ul>
      <li align="center"> You can complete as many available challenges in a day as you wish.</li>
    </ul>
    <br>
    <h3 align="center">If I fail a daily challenge, can I take it again?</h3>
    <ul>
      <li align="center"> Yes, you may try the challenege until you complete it or until it expires.</li>
    </ul> -->
  </div>
  <script src="js/jquery-1.11.0.js"></script>
    <script src="/js/bootstrap.js"></script> 

</body>
</html>