<html>
<head>
  <title>Homepage</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/faq.css" rel="stylesheet">-->
  <link href="/css/WeFit.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="/css/fixed-navigation-bar.css">
  <link rel="stylesheet" href="/css/homepage.css">
</head>
<body class="homepage">
  <nav class="fixed-nav-bar">
    <div id="menu" class="menu">
      <a class="sitename" href="/">WeFit</a>
      <a class="show" href="#menu">Menu</a><a class="hide" href="#hidemenu">Menu</a>
      <ul class="menu-items">
        <li><a href="login">Sign In</a></li>
        <li><a href="login">Join Us!</a></li>
    </ul>
    </div>
  </nav>
  <div class="container">
    <div class="title_container">
    <h1 align="center" id="title">WeFit</h1>
    <h2 class="subtitle" align="center">Work out in the comfort of your own home.</h2>
    </div>
    <div class="button_container" align="center">
        <input type="submit" value="Sign In" onclick"location.href='login';"/>   
        <input type="submit" value="Join Us!" onclick"location.href='login';"/> 
    </div>
  </div>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="/js/bootstrap.js"></script> 
</body>
</html>