<html>
<head>
  <title>Inventory</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/faq.css" rel="stylesheet">-->
  <link rel="stylesheet" href="/css/inventorybag.css">
  <link href="/css/WeFit.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="/css/fixed-navigation-bar.css">
  <link rel="stylesheet" href="/css/inventory.css">
  <link rel="stylesheet" href="/css/confirmbox.css">
</head>
<body>
  <nav class="fixed-nav-bar">
    <div id="menu" class="menu">
      <a class="sitename" href="profile">WeFit</a>
      <a class="show" href="#menu">Menu</a><a class="hide" href="#hidemenu">Menu</a>
      <ul class="menu-items">
        <li><a href="profile">Profile</a></li>
        <li><a href="dailies">Dailies</a></li>
        <li><a href="inventory">Pet</a></li>
        <li><a href="achievements">Achievements</a></li>
        <li><a href="faq">Help</a></li>
        <li><a id="logoutbutton" href="/">Log Out</a></li>
    </ul>
    </div>
  </nav>
  <div class="container">
    <h1 align="center">Pet</h1>
    <div id="pet">
      <img id="bg" src="images/room.jpg"/>
      <img id="petimg" src="images/Machoke.gif"/>
    </div>
    <div align="right" id="hp">
      <p>Pet HP: <progress align="left" id="health" value="60" max="100"></progress></p>
    </div>
    <div id="money">
    </div>
    <div id="items">
      <div class="inventory-row">
        <div class="inventory-cell">
          <div class="cd-popup" role="alert" id="popup1">
            <div class="cd-popup-container">
              <p>Are you sure you want to use this item?</p>
              <ul class="cd-buttons">
                <li><a href="#0" id="yes1">Yes</a></li>
                <li><a href="#0" id="no1">No</a></li>
              </ul>
              <a href="#0" class="cd-popup-close img-replace">Close</a>
            </div> <!-- cd-popup-container -->
          </div> <!-- cd-popup -->
          <div class="inventory-item carrot"></div>
        </div>
        <div class="inventory-cell">
            <div class="cd-popup" role="alert" id="popup2">
            <div class="cd-popup-container">
              <p>Are you sure you want to use this item?</p>
              <ul class="cd-buttons">
                <li><a href="#0" id="yes2">Yes</a></li>
                <li><a href="#0" id="no2">No</a></li>
              </ul>
              <a href="#0" class="cd-popup-close img-replace">Close</a>
            </div> <!-- cd-popup-container -->
          </div> <!-- cd-popup -->
          <div class="inventory-item greenapple"></div>
        </div>
        <div class="inventory-cell">
          <div class="cd-popup" role="alert" id="popup3">
            <div class="cd-popup-container">
              <p>Are you sure you want to use this item?</p>
              <ul class="cd-buttons">
                <li><a href="#0" id="yes3">Yes</a></li>
                <li><a href="#0" id="no3">No</a></li>
              </ul>
              <a href="#0" class="cd-popup-close img-replace">Close</a>
            </div> <!-- cd-popup-container -->
          </div> <!-- cd-popup -->
          <div class="inventory-item redapple"></div>
        </div>
        <div class="inventory-cell">
          <div class="cd-popup" role="alert" id="popup4">
            <div class="cd-popup-container">
              <p>Are you sure you want to use this item?</p>
              <ul class="cd-buttons">
                <li><a href="#0" id="yes4">Yes</a></li>
                <li><a href="#0" id="no4">No</a></li>
              </ul>
              <a href="#0" class="cd-popup-close img-replace">Close</a>
            </div> <!-- cd-popup-container -->
          </div> <!-- cd-popup -->
          <div class="inventory-item bread"></div>
        </div>
        <div class="inventory-cell">
          <div class="cd-popup" role="alert" id="popup5">
            <div class="cd-popup-container">
              <p>Are you sure you want to use this item?</p>
              <ul class="cd-buttons">
                <li><a href="#0" id="yes5">Yes</a></li>
                <li><a href="#0" id="no5">No</a></li>
              </ul>
              <a href="#0" class="cd-popup-close img-replace">Close</a>
            </div> <!-- cd-popup-container -->
          </div> <!-- cd-popup -->
          <div class="inventory-item beet"></div>
        </div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
      </div>
      <div class="inventory-row">
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
      </div>
      <div class="inventory-row">
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
      </div>
      <div class="inventory-row">
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
      </div>
      <div class="inventory-row">
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
      </div>
      <div class="inventory-row">
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
        <div class="inventory-cell"></div>
      </div>
    </div>
  </div>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/bootstrap.js"></script> 
  <script src="js/inventory.js"></script>
  <script src="js/dailies.js"></script>
  <script src="js/logout.js"></script>
  <!--{{> googleAnalytics}}-->

</body>
</html>