.list{
	font-size: 18px;
}

#a1, #a2, #a3 {
	color: red;
	font-weight: bold;

}

#icon1, #icon2, #icon3 {
	position: relative;
	padding-left: 25%;
}




/*table, th {
    border: 1px solid black;
}*/

#bye1, #bye2, #bye3{
	padding:1px;
   border:1px solid #021a40;
}