/* ITEMS */

.inventory-item
{
    width: 34px;
    height: 34px;
    background-image: url('https://i.imgur.com/ngGK5MF.png');
    background-repeat: no-repeat;
    
    cursor: hand;
    cursor: pointer;
    
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.inventory-item-sortable-placeholder
{
    display: none;
}

.inventory-item.ui-sortable-helper, .inventory-item.ui-draggable-dragging
{
    opacity: .6;
}

.inventory-item.blueberry
{
    background-position: 0px 0px;
}
.inventory-item.greenapple
{
    background-position: -68px 0px;
}
.inventory-item.tomato
{
    background-position: -34px 0px;
}
.inventory-item.redapple
{
    background-position: -102px 0px;
}
.inventory-item.orange
{
    background-position: -136px 0px;
}
.inventory-item.greengrape
{
    background-position: -170px 0px;
}
.inventory-item.purplegrape
{
    background-position: -204px 0px;
}
.inventory-item.watermelon
{
    background-position: calc(-34*7px) 0px;
}
.inventory-item.strawberry
{
    background-position: calc(-34*8px) 0px;
}
.inventory-item.pear
{
    background-position: calc(-34*9px) 0px;
}
.inventory-item.lemon
{
    background-position: calc(-34*10px) 0px;
}
.inventory-item.pineapple
{
    background-position: calc(-34*11px) 0px;
}
.inventory-item.banana
{
    background-position: calc(-34*12px) 0px;
}
.inventory-item.acorn
{
    background-position: calc(-34*13px) 0px;
}
.inventory-item.beet
{
    background-position: calc(-34*0px) -34px;
}
.inventory-item.carrot
{
    background-position: -34px -34px;
}
.inventory-item.greenpepper
{
    background-position: calc(-34*2px) -34px;
}
.inventory-item.yellowpepper
{
    background-position: calc(-34*3px) -34px;
}
.inventory-item.redpepper
{
    background-position: calc(-34*4px) -34px;
}
.inventory-item.mushroom
{
    background-position: calc(-34*5px) -34px;
}
.inventory-item.egg
{
    background-position: calc(-34*6px) -34px;
}
.inventory-item.bread
{
    background-position: calc(-34*7px) -34px;
}
.inventory-item.pie
{
    background-position: calc(-34*8px) -34px;
}
.inventory-item.cheese
{
    background-position: calc(-34*9px) -34px;
}
.inventory-item.fish-cooked
{
    background-position: calc(-34*12px) -34px;
}
.inventory-item.meat1-cooked
{
    background-position: -442px -34px;
}

#items {
    padding-top: 20px;
}
.inventory-row {
    display: flex;
}

.inventory-cell {
    margin-top: 2px;
    margin-left: 2px;
    width:37px;
    height:37px;
    border: 1px solid white;
    background-color: #00a087;
    justify-content: center;
    flex-direction-row;
    align-items: center;
    align-content: center;
}


div {
    display:block;
}