@import url(http://fonts.googleapis.com/css?family=Signika:600|Varela+Round);

.progess {
	text-align: center;
}

.jumbotron{
	font-size: 40px;
	color: red;
	font-style: bold;
	font-family: fantasy;
}

.profile {
	border: 5px;
	border-style: solid;
	border-radius: 25px;
	border-color: #00a087;
	background-color: #F7F7F7;
}

td {
	border-radius: 25px;
	white-space:nowrap;
	width:50%;
	height:50%;
}

td > p {
	color: #F7F7F7;
	font-size: 4.5vw;
	text-align: center;
	text-shadow: 1px 1px black;
}

#name{
	font-size: 40px;
	text-align:center;
	color:black;
}

p {
	font-family:fantasy;
}

img {
	width:50%;
}

.exerciseicon {
	border: 3px;
	border-radius: 25px;
	background-color: white;
}

progress {
    height: 25px;
    border-radius:25px;
	background-image:
	-webkit-linear-gradient(-45deg, 
	                       transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                       rgba(0,0, 0, .1) 66%, transparent 66%),
	-webkit-linear-gradient(top, 
	                       rgba(255, 255, 255, .25), 
	                       rgba(0, 0, 0, .25)),
	-webkit-linear-gradient(left, #09c, #f44);
}
progress::-webkit-progress-bar {
    height: 25px;
    border-radius:25px;
    background-color: black;
}
progress::-webkit-progress-value {
    height: 25px;
    border-radius:25px;
	background-image:
	-webkit-linear-gradient(-45deg, 
	                       transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                       rgba(0, 0, 0, .1) 66%, transparent 66%),
	-webkit-linear-gradient(top, 
	                       rgba(255, 255, 255, .25), 
	                       rgba(0, 0, 0, .25)),
	-webkit-linear-gradient(left, #09c, #f44);
}
progress::-moz-progress-bar {
    height: 25px;
    border-radius:25px;
    background-color: black;
}

.progess {
	text-align: center;
}

body {
	background: url(https://d13pix9kaak6wt.cloudfront.net/background/users/a/l/e/alexcg_1423488682_58.jpg) no-repeat;
	background-size: cover;
}