
@import url(http://fonts.googleapis.com/css?family=Signika:600|Varela+Round);

.jumbotron{
	font-size: 40px;
	color: red;
	font-style: bold;
	font-family: fantasy;
}

.profile {
	border: 5px;
	border-style: solid;
	border-radius: 25px;
	border-color: #00a087;
	background-color: #F7F7F7;
}

.profile img{
	width:50%;
	border-radius: 25px;
}

td {
	border-radius: 25px;
	border: 5px;
	white-space: pre-wrap;
	width:50%;
	height:50%;
}

#name{
	font-size: 10vw;
	text-align:center;
	color:#00a087;
	text-shadow: none;
	vertical-align: middle;
}

p {
	font-family: "Signika", sans-serif;
	font-weight: 700;
	margin-top: 10px;
}

.exerciseicon img{
	border: 3px;
	border-radius: 25px;
	width: 60%;
}


.progess {
	text-align: center;
	border-radius: 25px;
	color: #00a087;
	width:85%;
}

progress::-webkit-progress-bar { 
	color: #00a087; 
	width:85%;
}

progress::-webkit-progress-value { 
	color: #00a087; 
	width:85%;
}

body {
	background: url(../images/paperplane.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed
}

.lvl p {
	margin-top: 40px;
	color: #F7F7F7;
	font-size: 4.5vw;
	text-align: left;
	text-shadow: 2px 2px #00a087;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}